@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');



.merriweather-font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto; 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* common style  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.mg-auto{
    max-width: 1440px;
    margin: 0 auto ;
    margin-top: 120px;
}
img{
    width: 100%;
}

.paragraph{
    font-size: 1.2rem;
    font-weight: 500;
    color: #070211;
}
/* banner section  */


.banner{
    background-image: url('./images/Banner\ Image.png');
    background-size: cover;
    height: 600px;
    margin-top: 50px;
    border-radius: 16px;
}
.banner-text{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 177px;
    
}
.banner-text h4{
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 16px;
    
}
.banner-text h2{
    font-size: 4.5rem;
    font-weight: bold;
    
}
/* offer section  */
.offer{
    text-align: center;
    /* margin-top: 120px; */
    width: 802.9px;
    
}
.offer h3{
    color: #FF0000;
    font-size: 5.5rem;
    font-weight: bold;
    padding-bottom: 48px;
}
.offer p{
    color: #FF0000;
    font-size: 1.25rem;
 
}
.offer h4{
    color: #070211;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 16px;
}
/* midnight section  */
.midnight{
    background-image: url('./images/Vectorrr.png');
    height: 600px;
    background-size: cover;

}
.midnight-text{
    padding-top: 126px;
    padding-left: 126px;
    max-width: 692px;
}
.midnight-text h3{
    font-size: 4rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom:24px ;
}
.midnight-text p{
    color: #FFFFFF;
    
}
.midnight-text button{
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    padding-top: 48px;
    color: #FFFFFF;
}


@media screen and (max-width:576px){
    .offer{
        width: 300px;
        margin-top: 40px;
        
    }
    .banner{
        height: 200px;
        margin: 10px;
        background-size: contain;
        background-repeat:repeat-x;
    }
    .banner-text h2 , .banner-text h4{
        font-size: 1.25rem;
    }
    .banner-text{
        padding-top: 30px;
    }
    .midnight-text p{
        font-size: 0.8rem;

    }
    .midnight{
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 10px;
    }
    .midnight-text h3{
        font-size: 1.4rem;
        padding-bottom: 10px
    }
    .midnight-text{
        padding-top: 10px;
        padding-left: 10px;
    }
    .midnight-text button{
        padding-top: 10px;
    }
}